.dashboard-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.dashboard-nav-one {
    width: 40%;
    padding: 1rem;
}

.dashboard-nav-one h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
}
.dashboard-nav-two {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

.dashboard-nav-two h2 {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}

.dashboard-nav-two button {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}